osx_image: xcode10.2

language: node_js
node_js: '10'

os:
  - osx

env:
  global:
    - ELECTRON_CACHE=$HOME/.cache/electron
    - ELECTRON_BUILDER_CACHE=$HOME/.cache/electron-builder

cache:
  directories:
    - $HOME/.cache/electron
    - $HOME/.cache/electron-builder
    - $HOME/.npm/_prebuilds

install:
  - npm i

script:
  - echo "Build win"
  - npm run dist:win

  - echo "Build mac"
  - npm run dist:mac
